body {
  background: #fff;
  color: rgba(255, 255, 255, 0.4);
  background: #222;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  color: #fff;
  font-weight: 200;
}

p {
  text-align: center;
  margin: 5px 0 -20px 0;
}

.site-main {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.site-main, .site-main .row {
  height: 100vh;
}

@media (min-width: 768px) {
  .site-main, .site-main .row {
    height: 100vh;
  }
}

.site-main:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.pt-5 {
  padding-top: 15rem !important;
}

.site-main h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
}

.site-main h1 strong {
  font-weight: 800;
}

@media (min-width: 768px) {
  .site-main h1 {
    font-size: 70px;
  }
}

.letter-spacing {
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5) !important;
}

.social-icons {
  text-align: center;
  font-size: 25px;
}

.social-icons .social-icon {
  color: #ccc;
  transition: .5s all;
  padding: 0 5px;
}

.social-icons .social-icon:hover {
  color: #fff;
  text-decoration: none;
}
