@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #121212;
}

.img {
  max-width: 100%;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

a {
  color: #8d8d8d;
}

a:hover {
  transition: all .2s;
  cursor: pointer;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h3 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 767px) {
  h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
  section {
    padding-top: 70px;
    position: relative;
  }
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4D4D4D;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

@media (max-width: 767px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  section {
    padding-bottom: 100px;
  }
}

/* MOBILE MENU */
.hamburger {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 4;
  background: #a1a1a1;
  color: #3c3c3b;
  padding: 11px 1px 0 2px;
  display: block;
  text-align: center;
  line-height: 0;
  border-radius: 30px;
  width: 2em;
  height: 2em;
  font-size: 1.4em;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
  cursor: pointer;
  transition: all .2s ease;
}
.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #202020;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #a1a1a1;
}
.site-mobile-menu .site-mobile-menu-body {
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 0 20px;
  height: calc(100vh - 52px);
  transition: .3s all ease;
  top: 50px;
}
.site-mobile-menu .mobile-menu-ul .nav-item a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #a1a1a1 !important;
  transition: .3s all ease;
}
.site-mobile-menu .mobile-menu-ul .nav-item a.active{
  color: #fff !important;
  opacity: 1;
  font-weight: 700;
}
.site-mobile-menu .mobile-menu-ul a:hover {
  color: #fff !important;
}
.site-mobile-menu .mobile-menu-ul > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .mobile-menu-ul > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .mobile-menu-ul > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .mobile-menu-ul > li > ul > li {
  display: block;
}
.site-mobile-menu .mobile-menu-ul > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .mobile-menu-ul > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .mobile-menu-ul > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .mobile-menu-ul > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}
/* MOBILE MENU */


/* MAIN */
/* MAIN */

/* ABOUT */
.about_me .about_large_title {
  font-weight: 800;
  color: rgba(255, 255, 255, 0.08);
  font-size: 235px;
  position: absolute;
  left: 21%;
  top: 0;
  line-height: 1;
}

@media (max-width: 767px) {
  .about_me .about_e_details {
    margin-bottom: 30px;
  }
}

.about_me .about_e_details p {
  font-size: 15px;
  font-weight: 400;
  color: #a1a1a1;
  margin-top: 20px;
  margin-bottom: 36px;
}

.about_me .about_img {
  position: relative;
}

.about_me .about_img .color_pattern {
  position: absolute;
  right: -80px;
  top: -123px;
  z-index: -1;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about_me .about_img .color_pattern {
    right: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .about_me .about_img .color_pattern {
    right: 0;
  }
}

.about_me .about_img .my_Pic img {
  width: 100%;
}

.about_me .download-link {
  color: #fff !important;
  font-weight: 700;
}
/* END ABOUT */

/* LINHA DO TEMPO */
.timeline-section {
  background-color: #fff;
}

.timeline-section .section-title {
  color: #121212;
}

.main-timeline {
  padding-top: 2rem;
}

.main-timeline:after{
  content: '';
  display: block;
  clear: both;
}

.main-timeline .timeline{
  width: 80%;
  padding: 0 0 0 50px;
  margin: 0 0 30px;
  float: left;
}

.main-timeline .timeline-content{
  border-radius: 30px;
  display: block;
  position: relative;
  border:1px solid #000;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-content:before{
  content: '';
  background: #7159C1;
  height: 120px;
  width: 120px;
  border-radius: 50% 0 50% 50%;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  left: -40px;
  top: 50%;
  bottom: -10px;
  z-index: 1;
}

.main-timeline .timeline-icon{
  background: #fff;
  font-size: 45px;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #fff inset, 0 0 5px #333;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: -30px;
  z-index: 1;
}

.main-timeline .img-timeline {
  max-width: 100%;
  height: auto;
  padding: 0px 10px 10px 7px;
}

.main-timeline .img-timeline-puc {
  max-width: 100%;
  height: auto;
  padding: 0px 7px 22px 7px;
}

.main-timeline .inner-content{
  background-color: transparent;
  padding: 15px 30px 15px 130px;
  border-radius: 30px;
}

.main-timeline .title{
  color: #7159C1;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.main-timeline .subtitle{
  color: #7159C1;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.main-timeline .description{
  color: #a1a1a1;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
}

.main-timeline .timeline:nth-child(even){
  padding: 0 50px 0 0;
  margin: 0 0 30px;
  float: right;
}

.main-timeline .timeline:nth-child(even) .timeline-content:before{
  transform: translateY(-50%) rotate(225deg);
  left: auto;
  right: -40px;
}

.main-timeline .timeline:nth-child(even) .timeline-icon{
  left: auto;
  right: -30px;
}

.main-timeline .timeline:nth-child(even) .inner-content{ padding: 15px 130px 15px 30px; }
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background: #a1a1a1; }
.main-timeline .timeline:nth-child(4n+2) .title{ color: #121212; }
.main-timeline .timeline:nth-child(4n+2) .subtitle{ color: #121212; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background:#6287C5; }
.main-timeline .timeline:nth-child(4n+3) .title{ color: #6287C5; }
.main-timeline .timeline:nth-child(4n+3) .subtitle{ color: #6287C5; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background: #a1a1a1; }
.main-timeline .timeline:nth-child(4n+4) .title{ color: #121212; }
.main-timeline .timeline:nth-child(4n+4) .subtitle{ color: #121212; }
@media screen and (max-width:767px){
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even){
    width: 100%;
    padding: 60px 0 0 0;
    float: none;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon{
    transform: translateY(0) translateX(-50%);
    left: 50%;
    top: -40px;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline:nth-child(even) .timeline-content:before{
    transform: translateY(0) translateX(-50%) rotate(135deg);
    left: 50%;
    top: -50px;
  }
  .main-timeline .inner-content,
  .main-timeline .timeline:nth-child(even) .inner-content{
    text-align: center;
    padding: 115px 20px 20px;
  }
}
@media screen and (max-width:567px){
  .main-timeline .title{ font-size: 18px; }
}
License Terms
/* LINHA DO TEMPO */

/* HABILIDADES */
.skills {
  background-color: #222222;
}

.skills .skills-icons {
  padding: 0 5rem 0 5rem;
}

@media (max-width: 767px) {
  .skills .skills-icons {
    padding: 0 0 0 0;
  }
  .skills .skill-link {
    color:#8d8d8d !important;
    font-size: 3rem !important;
    cursor: pointer;
  }
}

.skills .skill-link {
  color:#8d8d8d !important;
  font-size: 5rem;
  cursor: pointer;
  padding: 0 1.5rem 0 1.5rem;
  transition: all .2s;
}

.skills .skill-link:hover {
  color:#fff !important;
}
/* HABILIDADES */

/* PORTFOLIO */
.portfolio {
  background-color: #fff;
}

.portfolio .section-title {
  color: #000;
}
/* PORTFOLIO */

/* FOOTER */
.site-footer {
  margin-top: 15px;
}

.site-footer .social-icon {
  font-size: 25px;
  transition: all .2s;
}

.site-footer .social-icon-linkedin:hover {
  color: #4d98fc !important;
}

.site-footer .social-icon-github:hover {
  color: #fff !important;
}

.site-footer .social-icon-instagram:hover {
  color: #c21b4d !important;
}

.site-footer .social-icon-whatsapp:hover {
  color: #25D366 !important;
}

.site-footer .author-name {
  font-size: 12.5px;
  color: #8d8d8d;
}

.site-footer .author {
  margin-top: 1px;
}

.site-footer .mail-contact {
  font-size: 15px;
  transition: all .2s;
  color: #8d8d8d;
}

.site-footer .mail-contact:hover {
  color: #fff;
}

@media (max-width: 767px) {
  .site-footer .social-icon-linkedin {
    font-size: 1.5rem;
  }
  .site-footer .social-icon-github {
    font-size: 1.5rem;
  }
  .site-footer .social-icon-instagram {
    font-size: 1.5rem;
  }
  .site-footer .mail-contact {
    font-size: 0.8rem;
  }
  .site-footer .author-name {
    font-size: 0.8rem;
  }
}
/* END FOOTER */